# Ignore all 'build' directories
**/build/

# Ignore all 'node_modules' directories
**/node_modules/

# Ignore .idea directory (IntelliJ IDEA)
.idea/

# Ignore temporary files
*.tmp
*.log

# Ignore operating system and editor-specific files
.DS_Store
.vscode/
*.swp

# Ignore environment-specific configuration files
.env

# Ignore compiled Python files
*.pyc

# Ignore dependency lock files (e.g., package-lock.json or yarn.lock)
**/package-lock.json
yarn.lock
**/.classpath
**/.project
